/* OptionButton.module.css */
@font-face {
  font-family: "ClashDisplay";
  src: url(fonts/ClashDisplay-Variable.ttf);
  font-style: normal;
  font-weight: 400;
}

.container {
  display: flex;
  width: 318px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.label {
  color: #ffdbc6;
  font-family: "ClashDisplay";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.option {
  display: flex;
  color: #ffdbc6;
  font-family: "ClashDisplay";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 0;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1;
  border-radius: 999px;
  border: 1px solid #ffdbc6;
  background: none;
  cursor: pointer;
}

.active {
  color: #ffdbc6;
  border: 1px dashed #ffdbc6;
  background: rgba(255, 219, 198, 0.2);
}

.inactive {
  opacity: 0.4;
  cursor: not-allowed;
}

.disabledMessage {
  color: #ffdbc6;
  font-size: 13px;
  opacity: 0.7;
  margin: 4px 0 0 0;
}
