@font-face {
  font-family: "ClashDisplay";
  src: url(fonts/ClashDisplay-Variable.ttf);
  font-style: normal;
  font-weight: 400;
}

:root {
  /*Dark mode*/
  --text: #ffdbc6;
  --border: #ffdbc6;
  --card-bg: rgba(43, 21, 12, 0.4);
  --clash-font: "ClashDisplay";

  --venylbase-bright: #fffbf8;
  --venylbase-dark: #211e1e;
  --venylbase-brown: #402915;
  --venylbase-blue: #243e94;
  --venylbase-orange: #cc4c15;
  --venylbase-green: #52582a;
  --venylbase-red: #641717;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*  @media (max-width: 1024px) {
    font-size: 16px;
  } */
}

[data-theme="light"] {
  --text: #2b150c;
  --border: #2b150c;
  --card-bg: rgba(255, 234, 225, 0.4);
}

body {
  margin: 0;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  font-family: var(--clash-font);
  color: var(--text);
}

/* h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
} */
