@font-face {
  font-family: "ClashDisplay";
  src: url(fonts/ClashDisplay-Variable.ttf);
  font-style: normal;
  font-weight: 400;
}

:root {
  /*Dark mode*/
  --text: #ffdbc6;
  --border: #ffdbc6;
  --card-bg: rgba(43, 21, 12, 0.6);
  --button-bg: rgba(255, 219, 198, 0.2);
  --clash-font: "ClashDisplay";

  --venylbase-bright: #fffbf8;
  --venylbase-dark: #211e1e;
  --venylbase-blue: #243e94;
  --venylbase-orange: #cc4c15;
  --venylbase-green: #52582a;
  --venylbase-red: #641717;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] {
  --text: #2b150c;
  --border: #2b150c;
  --card-bg: rgba(255, 234, 225, 0.4);
  --button-bg: rgba(43, 21, 12, 0.1);
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  font-family: var(--clash-font);
  color: var(--text);
}

.bottom-bar {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 450px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.checkout-btn {
  padding: 8px 16px;
  min-width: 150px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 999px;
  border: 1px solid var(--border);
  background: none;
  color: var(--text);
  font-family: var(--clash-font);
  font-size: 16px;
  line-height: normal;
  cursor: pointer;
}

.checkout-btn:hover {
  background: var(--card-bg);
}
